a:link {
    color: darkblue;
}

a:hover {
    color: darkgreen;
}

a:visited {
    color: darkred;
}

a:active {
    color: darkmagenta;
}

hr {
    width: 1px;
}

h1 {
    color: brown
}