a:link {
    color: darkblue;
}

a:hover {
    color: darkgreen;
}

a:visited {
    color: darkred;
}

a:active {
    color: darkmagenta;
}

hr {
    text-align: center width: 100% border: 1px
}

h1 {
    color: brown
}